* {
font-size: 20;
font-variant: bold;
}

td {
    text-align:center;
}

.kid
{
    padding:10px;
    margin:10px;
}

.increasesNerves
{
    border: 3px yellow solid;
}

.highActivity
{
    border: 3px red solid;
}

.muted
{
    border: 3px gray solid;
    text-decoration: line-through;
    background-color: #CCCCCC;
    color: #505050;
}

.muted *
{
    text-decoration: line-through;
}

.nervesDisplay
{
    margin-top:100px;
    width:60px;
    padding:10px;
}

.takeDeepBreath
{
    margin-top:20px;
    width: 200px;
    padding:30px;
    background-color:lightgray;
}

.takeDeepBreath.highlighted
{
    border:3px lightblue solid;
    background-color: lightgreen;
}


.takeDeepBreath.active
{
    background-color:lightcoral;
}


.nervesSliderContainer
{
    margin:10px;
    border: 1px green solid;
    position:relative;
    height : 100px;
    width: 30px;
    margin: 0 50px;
}

.nervesSlider
{
    background-color:red;
    width : 100%;
    height : 3px;
    position:absolute;
}

.gameOverlay
{
    position:absolute;
    top: 0px;
    left:0px;
    width: 0px;
    height: 0px;
    font-size: 50;
    font-weight:bold;
    text-align: center;
}

.gameOverlay.disableGame
{
    padding:100px;
    background-color: gray;
    width: 600px;
    height: 240px;
    opacity: 0.8;
}

.horizontalProgressContainer
{
    height: 10px;
    padding:0;
    margin:5px;
    border: 1px solid black;
}

.kid .horizontalProgressContainer
{
    width : 50px;
}


.horizontalProgress
{
    padding: 0;
    margin:0;
    background-color:red;
    height:100%;
}

.muted .horizontalProgress
{
    background-color: black;
}

.dialogCell
{
    height: 50px;
}

.kidDialog
{
    background-color: white;
}

.playerDialog
{
    font-style: italic;
    background-color: lightyellow;
}
