* {
font-size: 20;
font-variant: bold;
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;    
}

td {
    text-align:center;
}

.kid
{
   position:absolute; 
}

.nervesDisplay
{
    margin-top:100px;
    width:60px;
    padding:10px;
}

.takeDeepBreath
{
    margin-top:20px;
    width: 200px;
    padding:30px;
    background-color:lightgray;
}

.takeDeepBreath.highlighted
{
    border:3px lightblue solid;
    background-color: lightgreen;
}


.takeDeepBreath.active
{
    background-color:lightcoral;
}


.nervesSliderContainer
{
    margin:10px;
    border: 1px green solid;
    position:relative;
    height : 100px;
    width: 30px;
    margin: 0 50px;
}

.nervesSlider
{
    background-color:red;
    width : 100%;
    height : 3px;
    position:absolute;
}

.gameOverlay
{
    position:absolute;
    top: 0px;
    left:0px;
    width: 0px;
    height: 0px;
    font-size: 50;
    font-weight:bold;
    text-align: center;
}

.gameOverlay.disableGame
{
    padding:100px;
    padding-top: 170px;
    background-color: gray;
    width: 600px;
    height: 240px;
    opacity: 0.8;
}

.horizontalProgressContainer
{
    height: 10px;
    padding:0;
    margin:5px;
    border: 1px solid black;
}

.kid .horizontalProgressContainer
{
    width : 32px;
}

.kid .small *
{
    font-size: 10;
}

.horizontalProgress
{
    padding: 0;
    margin:0;
    background-color:red;
    height:100%;
}

.muted .horizontalProgress
{
    background-color: black;
}

.dialogCell
{
    height: 65px;
}

.kidDialog
{
    background-color: white;
    height:60px;
}

.playerDialog
{
    font-style: italic;
    background-color: lightyellow;
    height:60px;
}

.playerRow td, .player, .noPlayer
{
    height:30px;
}

.player, .noPlayer
{
    margin:5px;
    width: 200px;
    text-align:center;
}


.playerRow td.playerAtKid, .player
{
    background-color: lightgreen;
}

.emoji 
{
    max-height:40px;
}

.newKidsContainer, .reducedWaywardnessKidContainer, .removedFrustratedKidsContainer, .removedKidsAfterMissionFailedContainer 
{
    font-size: 14;
    font-weight:bold;    
}

.removedKid *
{
    text-decoration: line-through;
} 

.kidGraphicsContainer
{
    position:relative;
    width:32px;
    height:64px;
    /*
    transform-origin: 0 0;
    transform: scale(2);
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(2);
    -ms-transform-origin: 0 0;
    -ms-transform: scale(2);
    */
}

.kidGraphicsContainer img, .playerContainer img {
    position:absolute;
    top:0px;
    left:0px;
}

.kidGraphicsContainer .scarf {
    top: 16px;
}

.kidGraphicsContainer .body {
    top: 20px;
    left:-2px;
}

.flip, .armLeft, .legRight {
    transform: scaleX(-1);
}

.kidGraphicsContainer .armLeft {
    top: 24px;
    left: -10px; 
}

.kidGraphicsContainer .armRight {
    top: 24px;
    left: 6px;
}

.allKidsContainer {
    position:absolute;
    width:100%;
    height:100%;
}

.train {
    position:absolute;
    width:100%;
    height:100%;
    pointer-events: none;
}

.train * 
{
    pointer-events: none;    
}

.train .window {
    position:absolute;
}

.playerContainer {
    position : absolute;
}

.playerContainer .head {
    top: 2px;
    left: 2px;
}

.playerContainer .scarf {
    top: 18px;
    left: 2px;
}

.playerContainer .body {
    top: 22px;
    left:0px;
}

.playerContainer .armLeft {
    top: 26px;
    left: -8px; 
}

.playerContainer .armRight {
    top: 26px;
    left: 8px;
}

.playerContainer .legLeft {
    top: 48px;
    left: -4px;
}

.playerContainer .legRight {
    top: 48px;
    left: 4px;
}