* {
font-size: 20;
font-variant: bold;
}

.kid
{
    padding:10px;
    margin:10px;
}

.nervesDisplay 
{
    margin-top:100px;
    width:60px;
    padding:10px;
}

.takeDeepBreath
{
    margin-top:20px;
    width: 200px;
    padding:30px;
    background-color:lightgray;
}

.takeDeepBreath.active
{
    background-color:lightcoral;    
}